Dsl/GeneratedCode/MPJAAMPrototoolSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="MPJAAMPrototoolSchema" targetNamespace="http://schemas.microsoft.com/dsltools/MPJAAMPrototool" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/MPJAAMPrototool" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- TapizPrototool -->
  <xsd:element name="tapizPrototool" type="TapizPrototool" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TapizPrototool">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: TapizPrototoolHasVentanas -->
          <xsd:element name="ventanas" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of TapizPrototoolHasVentanas</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="tapizPrototoolHasVentanas" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of TapizPrototoolHasVentanas needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: nombreAplicacion -->
        <xsd:attribute name="nombreAplicacion" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizPrototool Moniker -->
  <xsd:element name="tapizPrototoolMoniker" type="TapizPrototoolMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizPrototoolMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TapizPrototool instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Ventana -->
  <xsd:element name="ventana" abstract="true" type="Ventana" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Ventana" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: ancho -->
        <xsd:attribute name="ancho" type="xsd:string" />
        <!-- Property: altura -->
        <xsd:attribute name="altura" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Ventana Moniker -->
  <xsd:element name="ventanaMoniker" abstract="true" type="VentanaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="VentanaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Ventana instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- VentanaPrincipal -->
  <xsd:element name="ventanaPrincipal" type="VentanaPrincipal" substitutionGroup="ventana" />
  <xsd:complexType name="VentanaPrincipal">
    <xsd:complexContent>
      <xsd:extension base="Ventana">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: VPrincipalReferencesVSecundaria -->
          <xsd:element name="ventanaSecundarium" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of VPrincipalReferencesVSecundaria</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="vPrincipalReferencesVSecundaria" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of VPrincipalReferencesVSecundaria needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- VentanaPrincipal Moniker -->
  <xsd:element name="ventanaPrincipalMoniker" type="VentanaPrincipalMoniker" substitutionGroup="ventanaMoniker" />
  <xsd:complexType name="VentanaPrincipalMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for VentanaPrincipal instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="VentanaMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- VentanaSecundaria -->
  <xsd:element name="ventanaSecundaria" type="VentanaSecundaria" substitutionGroup="ventana" />
  <xsd:complexType name="VentanaSecundaria">
    <xsd:complexContent>
      <xsd:extension base="Ventana">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: VSecundariaReferencesVSecundaria -->
          <xsd:element name="targetVentanaSecundarium" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of VSecundariaReferencesVSecundaria</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="vSecundariaReferencesVSecundaria" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of VSecundariaReferencesVSecundaria needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: modal -->
        <xsd:attribute name="modal" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- VentanaSecundaria Moniker -->
  <xsd:element name="ventanaSecundariaMoniker" type="VentanaSecundariaMoniker" substitutionGroup="ventanaMoniker" />
  <xsd:complexType name="VentanaSecundariaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for VentanaSecundaria instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="VentanaMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizPrototoolHasVentanas -->
  <xsd:element name="tapizPrototoolHasVentanas" type="TapizPrototoolHasVentanas" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TapizPrototoolHasVentanas">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Ventana -->
          <xsd:element ref="ventana" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizPrototoolHasVentanas Moniker -->
  <xsd:element name="tapizPrototoolHasVentanasMoniker" type="TapizPrototoolHasVentanasMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizPrototoolHasVentanasMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TapizPrototoolHasVentanas instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- VPrincipalReferencesVSecundaria -->
  <xsd:element name="vPrincipalReferencesVSecundaria" type="VPrincipalReferencesVSecundaria" substitutionGroup="core:modelElement" />
  <xsd:complexType name="VPrincipalReferencesVSecundaria">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end VentanaSecundaria -->
          <xsd:element ref="ventanaSecundariaMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- VPrincipalReferencesVSecundaria Moniker -->
  <xsd:element name="vPrincipalReferencesVSecundariaMoniker" type="VPrincipalReferencesVSecundariaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="VPrincipalReferencesVSecundariaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for VPrincipalReferencesVSecundaria instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- VSecundariaReferencesVSecundaria -->
  <xsd:element name="vSecundariaReferencesVSecundaria" type="VSecundariaReferencesVSecundaria" substitutionGroup="core:modelElement" />
  <xsd:complexType name="VSecundariaReferencesVSecundaria">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end VentanaSecundaria -->
          <xsd:element ref="ventanaSecundariaMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- VSecundariaReferencesVSecundaria Moniker -->
  <xsd:element name="vSecundariaReferencesVSecundariaMoniker" type="VSecundariaReferencesVSecundariaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="VSecundariaReferencesVSecundariaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for VSecundariaReferencesVSecundaria instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
</xsd:schema>

